@font-face {
    font-family: 'kalab';
    src:url('/static/fonts/adamfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$base-color: #333333;
$word-color: white;
$word-size-1: 30px;
$base-font: kalab, Arial, 微软雅黑;

body {
    font-family: $base-font; 
    border: 0px;
    padding: 0px {
        left: 20px;
        right: 20px
    };
    margin: 0px;
    background-color: $base-color;

    #kalab{
        margin-top: 100px;
        text-align: center;
        color: $word-color;
        font-size: $word-size-1;
    }
}
